<!doctype html>
<html lang="de">
<head>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<script src="{{ url_for('static', filename='css/bootstrap.bundle.min.js') }}"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<section class="content">
  {% block content %}{% endblock %}
</section>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</html>